@font-face {
    font-family: 'Satoshi';
    src: url('/static/fonts/satoshi-regular.ttf');
}

@font-face {
    font-family: 'Satoshi Bold';
    src: url('/static/fonts/satoshi-bold.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('/static/fonts/poppins-regular.ttf');
}

@font-face {
    font-family: 'Poppins Bold';
    src: url('/static/fonts/poppins-bold.ttf');
}

@font-face {
    font-family: 'NanumGothic';
    src: url('/static/fonts/nanumgothic-regular.ttf');
}

@font-face {
    font-family: 'NanumGothic Bold';
    src: url('/static/fonts/nanumgothic-bold.ttf');
}

@font-face {
    font-family: 'NanumGothic Extrabold';
    src: url('/static/fonts/nanumgothic-extrabold.ttf');
}


.full-body-container {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header img {
    margin-top: 20px;
    width: 75px;
    height: 75px;
}

.header h1 {
    font-family: 'Poppins Bold';
    font-size: 320%;
    margin-top: 10px;
}

.price-button {
    font-family: 'Satoshi Bold';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.price-button input {
    width: 75%;
}

.answer-box-item {
    border: 1px solid black;
    background-color: #ffd6b7;
    padding: 10px;
    margin-bottom: 10px;
    width: 450px;
}

.button-container,
.heart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.popup {
    font-family: 'Poppins Bold';
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 250px;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup-content {
    font-family: 'Poppins Bold';
    text-align: center;
}

#closePopup {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

h2 {
    font-family: 'Poppins Bold';
    text-align: center;
}

h3 {
    font-family: 'Satoshi Bold';
    text-align: center;
}

label {
    font-family: 'Poppins';
    text-align: center;
}

.centered-label {
    text-align: center;
}

.inputs label,
.inputs select {
    text-align: center;
}

.price-range-label {
    text-align: center;
}

select {
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    background-color: #FF8C00;
    font-family: 'Satoshi Bold';
    text-align-last: center;
    text-align: center;
    -moz-text-align-last: center;
}

.location-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-size: 20px;
    font-family: 'Satoshi Bold';
}

p {
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.row {
    display: flex;
    justify-content: space-between;
}

#preferences {
    font-family: 'Satoshi Bold';
    width: 100%
}

form>* {
    width: 50%
}

.container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price-text {
    font-size: 20px;
}

.inputBox {
    padding: 6px;
    margin-top: auto;
    margin-right: auto;
    font-size: 15px;
    text-align: center;
}

.inputs {
    flex-basis: 45%;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: auto;
    display: flex;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    position: relative;
    flex-shrink: 0;
}

.main-container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
}

.inputBox {
    display: block;
    width: 100%;
    margin: 0 auto;
}

.update-button,
.it-button,
.button button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    border-radius: 50px;
    font-size: 18px;
    padding: 12px;
    border-color: black;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}


.description {
    margin-top: -25px;
    display: flex;
    flex-direction: column;
    width: 100%;

}

#answer-box-1,
#answer-box-2 {
    /* border: solid 2px white; */
    /* width: 80%; */
    margin: auto;
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%)
}

.input-container,
#answer-box-1,
#answer-box-2 {
    flex-basis: 50%
}