@font-face {
    font-family: 'Satoshi';
    src: url('/static/fonts/satoshi-regular.ttf');
}

@font-face {
    font-family: 'Satoshi Bold';
    src: url('/static/fonts/satoshi-bold.ttf');
}

@font-face {
    font-family: 'Poppins';
    src: url('/static/fonts/poppins-regular.ttf');
}

@font-face {
    font-family: 'Poppins Bold';
    src: url('/static/fonts/poppins-bold.ttf');
}

@font-face {
    font-family: 'NanumGothic';
    src: url('/static/fonts/nanumgothic-regular.ttf');
}

@font-face {
    font-family: 'NanumGothic Bold';
    src: url('/static/fonts/nanumgothic-bold.ttf');
}

@font-face {
    font-family: 'NanumGothic Extrabold';
    src: url('/static/fonts/nanumgothic-extrabold.ttf');
}

.full-body-container {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
}

@keyframes fly {
    0% {
        transform: translate(-1000%, -65%) rotate(0deg);
        ;
    }

    50% {
        transform: translate(205%, -65%) rotate(360deg);
        ;
    }

    100% {
        transform: translate(205%, -65%) rotate(360deg);
        ;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0.25;
    }

    100% {
        opacity: 1;
    }
}

.airplane {
    position: absolute;
    animation: fly 5s linear forwards;
}

.header {
    margin-top: 35px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}

.header img {
    margin-top: 25px;
    width: 75px;
    height: 75px;
    margin-right: 10px;
}

.header h1 {
    animation: fade-in 2.5s ease-in forwards;
    font-family: 'Poppins Bold';
    font-size: 320%;
    margin-bottom: 0px;
}

.price-button {
    font-family: 'Satoshi Bold';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.price-button input {
    font-family: 'Satoshi Bold';
    width: 75%;
}

.answer-box-item {
    border: 1px solid black;
    background-color: #ffc192;
    padding: 10px;
    margin-bottom: 10px;
    width: 450px;
}

.button-container {
    font-family: 'Satoshi Bold';
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.heart-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.popup {
    font-family: 'Poppins Bold';
    position: fixed;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 375px;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid black;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.popup-content {
    font-family: 'Poppins Bold';
    text-align: center;
    justify-content: center;
    align-items: center;
}

#closePopup {
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
}

.show {
    display: block;
}

.update-button,
.it-button {
    display: flex;
    font-family: 'Satoshi Bold';
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-size: 16px;
    font-family: 'Satoshi Bold';
    font-weight: 700;
}

h2 {
    font-family: 'Poppins Bold';
    text-align: center;
}

h3 {
    font-family: 'Satoshi Bold';
    text-align: center;
}

label {
    font-family: 'Poppins';
    text-align: center;
}

.centered-label {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.inputs label,
.inputs select {
    text-align: center;
}

.price-range-label {
    text-align: center;
}

select {
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    background-color: #FF8C00;
    font-family: 'Satoshi Bold';
    text-align-last: center;
    text-align: center;
    -moz-text-align-last: center;
}

.location-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-size: 18px;
    font-family: 'Satoshi Bold';
}

.time-label {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-size: 20px;
    font-family: 'Satoshi Bold';
}

p {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-bottom: 0px;
}

.row {
    display: flex;
    justify-content: space-between;
}

#preferences {
    font-family: 'Satoshi Bold';
    width: 100%
}

form>* {
    width: 50%
}

.container {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.price-text {
    font-size: 16px;
}

.inputBox {
    padding: 6px;
    margin-top: auto;
    margin-right: auto;
    font-size: 16px;
    text-align: center;
}

.inputs {
    flex-basis: 45%;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: auto;
    display: flex;
}

.main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    position: relative;
    flex-shrink: 0;
}

.main-container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-wrap: nowrap;
}

.inputBox {
    display: block;
    width: 100%;
    margin: 0 auto;
    /* This will center the input box if its width is less than 100% */
}

.button {
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin-top: 15px;
}

.info-button,
.button button {
    font-family: 'Satoshi Bold';
    border-radius: 50px;
    flex-direction: row;
    font-size: 16px;
    padding: 12px;
    margin-left: 50px;
    border-color: black;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

.button button:hover {
    background-color: #FF8C00;
}

.description {
    margin-top: -25px;
    display: flex;
    flex-direction: column;
    width: 100%;

}

.button-row {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: 'Satoshi Bold';
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    font-size: 16px;
    font-family: 'Satoshi Bold';
    font-weight: 700;
}

.button-row .update-button,
.button-row .it-button {
    margin: 0 10px;
    background-color: #e79247;
}

.button-row .update-button button:hover,
.button-row .it-button button:hover {
    background-color: #ffd6b7;
}



#answer-box-1,
#answer-box-2 {
    /* border: solid 2px white; */
    /* Adjust border color as needed */
    /* width: 80%; */
    /* Adjust width as needed */
    margin: auto;
    position: absolute;
    top: 150px;
    left: 50%;
    flex-basis: 50%;
    transform: translateX(-20%)
}

.back-button {
    position: fixed;
    top: 17%;
    left: 50%;
    background-color: #e79247;
    transform: translate(-50%, -50%);

    /* Make the button bigger */
    padding: 10px 20px;
    font-size: 16px;

    /* Transition for smooth color change */
    transition: background-color 0.3s ease;
}

/* Change color on hover */
.back-button:hover {
    background-color: #ffd6b7;
}