<!doctype html>
<title>{% block title %}{% endblock %} GrubCity</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<body style="background: linear-gradient(180deg, #ffcca4, #ffcca4);">
  <div class="full-body-container">
    <div class="top-text">
      <div class="container">
        <div class="header">
          <!-- <img src="../static/images/plane.jpg" width=80px height=80px /> -->
          <img src="../static/images/airplane.png" width=230px height=230px class='airplane' />
          <h1>GRUB CITY</h1>
          <p>To use this app, please input in your desired price, location, and meal time. This app
            will
            help you find
            the ideal restaurant to visit according to your specifictation!<br> For more context, you will be given a
            similarity score and a description that explains why that result was matched. <br>Then, you can use the
            heart button to
            "like"
            the places you want to visit and view them using the "View Liked" button. <br>To find similar restaurants to
            the
            ones you liked, you can press the "Update Now" button.</p>
        </div>
      </div>
    </div>
    <div class="first-row">
      <div class="price-button">
        <label for="price-range" class="price-text">Select Price Range:</label>
        <input type="range" id="price-range" name="price-range" min="1" max="4" step="1" value="1">
        <div class="price-range-label">
          <output id="price-output">N/A</output>
        </div>
      </div>
      <div class="location-label">
        <label for="locality" class="centered-label">Location:</label>
        <select name="locality" id="locality">
          <option id="loc-output" value="" disabled selected hidden>Select your preferred location</option>
          <option id="loc-output" value="NJ">NJ</option>
          <option id="loc-output" value="NY">NY</option>
          <option id="loc-output" value="TX">TX</option>
          <option id="loc-output" value="WA">WA</option>
        </select>
        <div id="selected-locality"></div>
      </div>
      <div class="time-label">
        <label for="time" class="centered-label">Time:</label>
        <select name="time" id="time">
          <option id="time-output" value="" disabled selected hidden>Select your preferred time</option>
          <option id="time-output" value="morning">Morning</option>
          <option id="time-output" value="evening">Evening</option>
          <option id="time-output" value="nightlife">Nightlife</option>
        </select>
        <div id="selected-time"></div>
      </div>
    </div>

    <form id="inputValues">
      <div class="main-container-wrapper">
        <div class="main-container">
          <div class="description">
            <p> Description for the selected time:
              <input class="inputBox" onclick="sendFocus()" input placeholder="Search for desired vibes (e.g. cozy)"
                id="preferences_morn" type="text" name="text">
            </p>
          </div>

          <div class="answer-box" id="answer-box-1"></div>
        </div>

        <div class="button" id="button">
          <button type="button" onclick="search()"> Search </button>
        </div>

        <div class="button">
          <div class="update-button">
            <button class="centered-label" type=button onclick="updateButtonClick('button1')">Update
              Now</button>
          </div>
          <div class="it-button">
            <button class="centered-label" type=button onclick="itButtonClick('button2')">View Liked</button>
          </div>
        </div>
    </form>

  </div>

  <script>
    function itButtonClick(buttonId) {

      let backButton = document.createElement('button');
      backButton.textContent = 'Back';
      backButton.classList.add('centered-label', 'back-button');
      backButton.style.position = 'relative';
      backButton.style.top = '20px';
      backButton.onclick = resetPage;
      document.body.appendChild(backButton);

      document.querySelector('.first-row').style.display = 'none';
      document.querySelector('.main-container-wrapper').style.display = 'none';


      let boxContainer = document.createElement('div');
      boxContainer.style.display = 'flex';
      boxContainer.style.justifyContent = 'space-between';
      document.body.appendChild(boxContainer);

      let morningBox = document.createElement('div');
      morningBox.id = 'morning-box';
      boxContainer.appendChild(morningBox);

      let eveningBox = document.createElement('div');
      eveningBox.id = 'evening-box';
      boxContainer.appendChild(eveningBox);

      let nightlifeBox = document.createElement('div');
      nightlifeBox.id = 'nightlife-box';
      boxContainer.appendChild(nightlifeBox);

      morningBox.style.flex = '1';
      eveningBox.style.flex = '1';
      nightlifeBox.style.flex = '1';

      outputrest(morningSelect, 'morning-box', 'morning');
      outputrest(eveningSelect, 'evening-box', 'evening');
      outputrest(nightlifeSelect, 'nightlife-box', 'nightlife');

    }


    function showInfo(event, title, titleDesc, rating, locality, comments) {
      event.preventDefault();
      closeAllPopups();
      var popup = document.createElement("div");
      popup.classList.add("popup");
      var popupContent = document.createElement("div");
      popupContent.classList.add("popup-content");
      var closeButton = document.createElement("button");
      closeButton.textContent = "X";
      closeButton.classList.add("close-button");
      var popupTitle = document.createElement("h1");
      popupTitle.textContent = title;
      popupTitle.style.color = "orange";
      var popupText = document.createElement("p");
      popupText.innerHTML = `<strong>Title: </strong>${title}<br><strong>Description: </strong>${titleDesc}<br><strong>Rating: </strong>${rating}<br><strong>Locality: </strong>${locality}<br><strong>Comments: </strong>${comments}`;
      popupContent.appendChild(popupTitle);
      popupContent.appendChild(popupText);
      popupContent.appendChild(closeButton);
      popup.appendChild(popupContent);
      document.body.appendChild(popup);
      closeButton.addEventListener("click", closePopup);
    }
    function closeAllPopups() {
      var popups = document.querySelectorAll(".popup");
      popups.forEach(function (popup) {
        popup.remove();
      });
    }

    function closePopup(event) {
      event.preventDefault();
      var popup = this.closest(".popup");
      popup.remove();
    }

    const priceRangeInput = document.getElementById('price-range');
    const LocInput = document.getElementById('locality');
    const priceOutput = document.getElementById('price-output');
    const LocOutput = document.getElementById('loc-output');

    priceRangeInput.addEventListener('input', updateFilters);
    LocInput.addEventListener('input', updateFilters);

    let selectedRestaurants = [];

    function toggleHeartImage(heartImage) {
      const restaurantId = heartImage.dataset.id;
      const imageUrl = heartImage.src;

      // Add or remove restaurant ID based on heart state
      if (imageUrl.includes('heart.png')) {
        selectedRestaurants.push(restaurantId);
        // console.log(`Added ID: ${restaurantId}`); // Output the added ID
      } else {
        const index = selectedRestaurants.indexOf(restaurantId);
        // console.log(`Removed ID: ${restaurantId2}`); // Output the removed ID
        if (index !== -1) {
          selectedRestaurants.splice(index, 1);
        }
      }

      // Toggle heart image
      heartImage.src = imageUrl.includes('empty-heart.png') ?
        '../static/images/heart.png' : '../static/images/empty-heart.png';
    }

    function updateFilters() {
      document.getElementById('selected-locality').textContent = LocInput.options[LocInput.selectedIndex].text;
      let priceSymbol = '';
      switch (parseInt(priceRangeInput.value)) {
        case 1:
          priceSymbol = 'N/A';
          break;
        case 2:
          priceSymbol = '$';
          break;
        case 3:
          priceSymbol = '$$';
          break;
        case 4:
          priceSymbol = '$$$';
          break;
        default:
          priceSymbol = 'NA';
          break;
      }
      priceOutput.textContent = priceSymbol;
      let locCity = '';
      const selectedOption = LocInput.value;
      switch (selectedOption) {
        case 'TX':
          locCity = 'TX';
          break;
        case 'NJ':
          locCity = 'NJ';
          break;
        case 'NY':
          locCity = 'NY';
          break;
        case 'WA':
          locCity = 'WA';
          break;
      }
      LocOutput.textContent = locCity;

    }
    function search() {
      sendFocus();
      filterText();
    }

    let morningSelect = [];
    let eveningSelect = [];
    let nightlifeSelect = [];

    function toggleHeartImage(heartImage) {
      const restaurantId = heartImage.dataset.id;
      const imageUrl = heartImage.src;
      const time = document.getElementById('time').value;

      if (imageUrl.includes('heart.png')) {
        if (time === 'morning') {
          morningSelect.push(restaurantId);
        } else if (time === 'evening') {
          eveningSelect.push(restaurantId);
        } else if (time === 'nightlife') {
          nightlifeSelect.push(restaurantId);
        }
      } else {
        if (time === 'morning') {
          const index = morningSelect.indexOf(restaurantId);
          if (index !== -1) {
            morningSelect.splice(index, 1);
          }
        } else if (time === 'evening') {
          const index = eveningSelect.indexOf(restaurantId);
          if (index !== -1) {
            eveningSelect.splice(index, 1);
          }
        } else if (time === 'nightlife') {
          const index = nightlifeSelect.indexOf(restaurantId);
          if (index !== -1) {
            nightlifeSelect.splice(index, 1);
          }
        }
      }
      heartImage.src = imageUrl.includes('empty-heart.png') ?
        '../static/images/heart.png' : '../static/images/empty-heart.png';
    }


    function answerBoxTemplate(title, titleDesc, rating, street_address, locality, trip_advisor_url, comments) {
      return `<div class='answer-box-item'>
                    <h3 class='episode-title'>${title}</h3>
                    <p class='episode-desc'>${titleDesc}</p>
                    <p class='episode-desc'>${street_address}</p>
                    <p><a href=${trip_advisor_url} target="_blank">
                      <img src="../static/images/chef.jpg" width="50" height="50">
                      </a>
                    </p>
                    <div class="heart-container">
                      <img src="../static/images/empty-heart.png" width=20px height=20px id="heart-image" data-id = "${title}" onclick="toggleHeartImage(this)" />
                    </div>
                    <div class="button-container">
                      <button class="info-button" onclick="showInfo(event, '${title}', '${titleDesc}', '${rating}', '${locality}', '${comments}')">More Info</button>
                    </div>
                </div>`;
    }
    function sendFocus() {
      document.getElementById("preferences_morn").focus();
    }

    function filterText() {
      document.getElementById("answer-box-1").innerHTML = "";


      const filterText = document.getElementById("preferences_morn").value;

      const priceRange = document.getElementById('price-range').value;
      const locationCity = document.getElementById('locality').value;
      const time = document.getElementById('time').value;



      fetch("/episodes?" + new URLSearchParams({ query: filterText, price_range: priceRange, locality: locationCity, time: time }).toString())
        .then((response) => response.json())
        .then((data) => {
          if (data.length == 0) {
            let tempDiv = document.createElement("div");
            tempDiv.innerHTML = "<p>No results found. Please edit your query.</p>";
            document.getElementById("answer-box-1").appendChild(tempDiv);
          }
          data.forEach(row => {
            let tempDiv1 = document.createElement("div");
            tempDiv1.innerHTML = answerBoxTemplate(row.name, row.type, row.price_range, row.street_address, row.locality, row.trip_advisor_url, row.comments);
            document.getElementById("answer-box-1").appendChild(tempDiv1);

            tempDiv1.querySelector('.info-button').addEventListener('click', function (event) {
              showInfo(event, row.name, row.type, row.price_range, row.locality, row.comments);


            });

          });

        });
    }

    function updateButtonClick() {
      document.getElementById('answer-box-1').classList.toggle('update-button');
      const rocchio_query = document.getElementById('preferences_morn').value;
      const priceRange = document.getElementById('price-range').value;
      const time = document.getElementById('time').value;
      let restaurantNames;

      if (time === 'morning') {
        restaurantNames = JSON.stringify(morningSelect);
      } else if (time === 'evening') {
        restaurantNames = JSON.stringify(eveningSelect);
      } else if (time === 'nightlife') {
        restaurantNames = JSON.stringify(nightlifeSelect);
      }


      fetch("/episodes?" + new URLSearchParams({ query: rocchio_query, price_range: priceRange, time: time, restaurant_names: restaurantNames }).toString())
        .then(response => response.json())
        .then(data => {
          document.getElementById("answer-box-1").innerHTML = "";
          data.forEach(row => {
            let tempDiv1 = document.createElement("div");
            tempDiv1.innerHTML = answerBoxTemplate(row.name, row.type, row.price_range, row.street_address, row.locality, row.trip_advisor_url, row.comments);
            document.getElementById("answer-box-1").appendChild(tempDiv1);
          });
        })
        .catch((error) => {
          console.error('Error:', error);
        });
    }

    function resetPage() {
      location.reload();
    }

    function outputrest(restaurants, containerId, timeOfDay) {
      const container = document.getElementById(containerId);

      if (container) {
        container.innerHTML = "";

        const timeOfDayElement = document.createElement("p");
        timeOfDayElement.textContent = `Time of Day: ${timeOfDay}`;
        container.appendChild(timeOfDayElement);

        if (restaurants.length === 0) {
          let message;
          switch (timeOfDay) {
            case 'morning':
              message = "No restaurants selected for the morning.";
              break;
            case 'evening':
              message = "No restaurants selected for the evening.";
              break;
            case 'nightlife':
              message = "No restaurants selected for nightlife.";
              break;
            default:
              message = "No restaurants selected.";
          }
          const messageElement = document.createElement("p");
          messageElement.textContent = message;
          container.appendChild(messageElement);
        } else {
          restaurants.forEach((restaurant, index) => {
            const restaurantName = document.createElement("p");
            restaurantName.textContent = restaurant;
            if (index < restaurants.length - 1) {
              restaurantName.innerHTML += "<br>";
            }
            container.appendChild(restaurantName);
          });
        }
      } else {
        console.error(`Container with ID '${containerId}' not found.`);
      }
    }

  </script>
</body>