<!doctype html>
<title>{% block title %}{% endblock %} GrubCity</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<body style="background-color:#FFBF86;">
    <div class="full-body-container">
        <div class="top-text">
            <div class="container">
                <div class="header">
                    <img src="../static/images/plane.jpg" width=80px height=80px />
                    <h1>Grub City</h1>
                </div>
            </div>
        </div>

        <div class="first-row">
            <div class="price-button">
                <label for="price-range" class="price-text">Select Price Range:</label>
                <input type="range" id="price-range" name="price-range" min="1" max="4" step="1" value="1">
                <div class="price-range-label">
                    <output id="price-output">N/A</output>
                </div>
            </div>

            <div class="location-label">
                <label for="locality" class="centered-label">Location:</label>
                <select name="locality" id="locality">
                    <option value="" disabled selected hidden>Select your preferred location</option>
                    <option value="California">California</option>
                    <option value="New Jersey">New Jersey</option>
                    <option value="New York">New York</option>
                    <option value="Texas">Texas</option>
                    <option value="Washington">Washington</option>
                </select>
            </div>
        </div>


        <form id="inputValues">
            <div class="main-container-wrapper">
                <div class="main-container">
                    <div class="inputs">
                        <h2>Morning</h2>
                    </div>
                    <div class="description">
                        <p> Description for the morning:
                            <input class="inputBox" onclick="sendFocus()" input
                                placeholder="Search for desired vibes (e.g. cozy)" id="preferences_morn"
                                onkeyup="filterText()" type="text" name="text" style="width: 80%;">
                        </p>
                    </div>

                    <div id="answer-box-1">
                    </div>
                </div>


                <div class="main-container">
                    <div class="inputs">
                        <h2>Evening</h2>
                    </div>
                    <div class="description">
                        <p> Description for the evening:
                            <input class="inputBox" onclick="sendFocus2()" input
                                placeholder="Search for desired vibes (e.g. cozy)" id="preferences_even"
                                onkeyup="filterText2()" type="text" name="text" style="width: 80%;">
                        </p>
                    </div>

                    <div id="answer-box-2">
                    </div>
                </div>
            </div>



        </form>
    </div>

    <script>

        const priceRangeInput = document.getElementById('price-range');
        const priceOutput = document.getElementById('price-output');

        priceRangeInput.addEventListener('input', function () {
            let priceSymbol = '';
            switch (parseInt(this.value)) {
                case 1:
                    priceSymbol = 'N/A';
                    break;
                case 2:
                    priceSymbol = '$';
                    break;
                case 3:
                    priceSymbol = '$$';
                    break;
                case 4:
                    priceSymbol = '$$$';
                    break;
                default:
                    priceSymbol = 'NA';
                    break;
            }
            priceOutput.textContent = priceSymbol;
            filterText();
            filterText2();
        });

        function answerBoxTemplate(title, titleDesc, rating) {
            return `<div class=''>
                    <h3 class='episode-title'>${title}</h3>
                    <p class='episode-desc'>${titleDesc}</p>
                    <p class='episode-desc'>${rating}</p>
                </div>`;
        }


        function sendFocus() {
            document.getElementById("preferences_morn").focus();
        }

        function filterText() {
            document.getElementById("answer-box-1").innerHTML = "";

            const filterText = document.getElementById("preferences_morn").value;
            const priceRange = document.getElementById('price-range').value;

            fetch("/episodes?" + new URLSearchParams({ title: filterText, price_range: priceRange }).toString())
                .then((response) => response.json())
                .then((data) => {
                    data.forEach(row => {
                        // Check if the row's price range matches the selected price range
                        if (row.price_range === '$' && priceRange === '2') {
                            let tempDiv = document.createElement("div");
                            tempDiv.innerHTML = answerBoxTemplate(row.name, row.type, row.price_range);
                            document.getElementById("answer-box-1").appendChild(tempDiv);
                        } else if (row.price_range === '$$' && priceRange === '3') {
                            let tempDiv = document.createElement("div");
                            tempDiv.innerHTML = answerBoxTemplate(row.name, row.type, row.price_range);
                            document.getElementById("answer-box-1").appendChild(tempDiv);
                        } else if (row.price_range === '$$$' && priceRange === '4') {
                            let tempDiv = document.createElement("div");
                            tempDiv.innerHTML = answerBoxTemplate(row.name, row.type, row.price_range);
                            document.getElementById("answer-box-1").appendChild(tempDiv);
                        }
                    });
                });
        }

        function answerBoxTemplate2(title, titleDesc, rating) {
            return `<div class=''>
                    <h3 class='episode-title'>${title}</h3>
                    <p class='episode-desc'>${titleDesc}</p>
                    <p class='episode-desc'>${rating}</p>
                </div>`;
        }


        function sendFocus2() {
            document.getElementById("preferences_even").focus();
        }

        function filterText2() {
            document.getElementById("answer-box-2").innerHTML = "";

            const filterText2 = document.getElementById("preferences_even").value;
            const priceRange2 = document.getElementById('price-range').value;

            fetch("/episodes?" + new URLSearchParams({ title: filterText2, price_range: priceRange2 }).toString())
                .then((response) => response.json())
                .then((data) => {
                    data.forEach(row => {
                        // Check if the row's price range matches the selected price range
                        if (row.price_range === '$' && priceRange2 === '2') {
                            let tempDiv = document.createElement("div");
                            tempDiv.innerHTML = answerBoxTemplate2(row.name, row.type, row.price_range);
                            document.getElementById("answer-box-2").appendChild(tempDiv);
                        } else if (row.price_range === '$$' && priceRange2 === '3') {
                            let tempDiv = document.createElement("div");
                            tempDiv.innerHTML = answerBoxTemplate2(row.name, row.type, row.price_range);
                            document.getElementById("answer-box-2").appendChild(tempDiv);
                        } else if (row.price_range === '$$$' && priceRange2 === '4') {
                            let tempDiv = document.createElement("div");
                            tempDiv.innerHTML = answerBoxTemplate2(row.name, row.type, row.price_range);
                            document.getElementById("answer-box-2").appendChild(tempDiv);
                        }
                    });
                });
        }



    </script>



</body>