<!doctype html>
<title>{% block title %}{% endblock %} GrubCity</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<body style="background: linear-gradient(180deg, #ffcca4, #ffcca4);">
  <div class="full-body-container">
    <div class="top-text">
      <div class="container">
        <div class="header">
          <!-- <img src="../static/images/plane.jpg" width=80px height=80px /> -->
          <img src="../static/images/airplane.png" width=200px height=200px class='airplane' />
          <h1>GRUB CITY</h1>
          <p>Be a Foodie! Describe your preferred restaurants below.</p>
        </div>
      </div>
    </div>
    <div class="first-row">
      <div class="price-button">
        <label for="price-range" class="price-text">Select Price Range:</label>
        <input type="range" id="price-range" name="price-range" min="1" max="4" step="1" value="1">
        <div class="price-range-label">
          <output id="price-output">N/A</output>
        </div>
      </div>

      <div class="location-label">
        <label for="locality" class="centered-label">Location:</label>
        <select name="locality" id="locality">
          <option id="loc-output" value="" disabled selected hidden>Select your preferred location</option>
          <option id="loc-output" value="NJ">NJ</option>
          <option id="loc-output" value="NY">NY</option>
          <option id="loc-output" value="TX">TX</option>
          <option id="loc-output" value="WA">WA</option>
        </select>
        <div id="selected-locality"></div>
      </div>
      <div class="button">
        <button style="background-color:#e79247;" class="centered-label" onclick="updateButtonClick('button1')">Update
          Now</button>
        <button style="background-color:#e79247;" class="centered-label" onclick="itButtonClick('button2')">Generate
          Itinerary</button>
      </div>
    </div>
    <form id="inputValues">
      <div class="main-container-wrapper">
        <div class="main-container">
          <div class="inputs">
            <h2>Morning Menu</h2>
          </div>
          <div class=description>
            <p>Everything from Breakfast to Lunch to Brunch!
              <input class="inputBox" onclick="sendFocus()" input placeholder="Search for desired vibes (e.g. cozy)"
                id="preferences_morn" type="text" name="text" style="width: 80%;">
            </p>
          </div>

          <div class="answer-box" id="answer-box-1" ;>
          </div>
        </div>

        <div class="button" id="button">
          <button type="button" onclick="search()"> Search </button>
        </div>

        <div class="main-container">
          <div class="inputs">
            <h2>Evening Menu</h2>
          </div>
          <div class="description">
            <p>Enjoy High Tea, Dinner or the Nightlife!
              <input class="inputBox" onclick="sendFocus2()" input placeholder="Search for desired vibes (e.g. cozy)"
                id="preferences_even" type="text" name="text" style="width: 80%;">
            </p>
          </div>

          <div class="answer-box" id="answer-box-2">
          </div>
        </div>
    </form>

  </div>

  <script>
    function itButtonClick(buttonId) {
      const answerBoxId = buttonId === 'button1' ? 'answer-box-1' : 'answer-box-2';
      document.getElementById(answerBoxId).classList.toggle('it-button');
    }
    function showInfo(event, title, titleDesc, rating, locality, comments) {
      event.preventDefault();
      closeAllPopups();
      var popup = document.createElement("div");
      popup.classList.add("popup");
      var popupContent = document.createElement("div");
      popupContent.classList.add("popup-content");
      var closeButton = document.createElement("button");
      closeButton.textContent = "X";
      closeButton.classList.add("close-button");
      var popupTitle = document.createElement("h1");
      popupTitle.textContent = title;
      popupTitle.style.color = "orange";
      var popupText = document.createElement("p");
      popupText.innerHTML = `<strong>Title: </strong>${title}<br><strong>Description: </strong>${titleDesc}<br><strong>Rating: </strong>${rating}<br><strong>Locality: </strong>${locality}<br><strong>Comments: </strong>${comments}`;
      popupContent.appendChild(popupTitle);
      popupContent.appendChild(popupText);
      popupContent.appendChild(closeButton);
      popup.appendChild(popupContent);
      document.body.appendChild(popup);
      closeButton.addEventListener("click", closePopup);
    }
    function closeAllPopups() {
      var popups = document.querySelectorAll(".popup");
      popups.forEach(function (popup) {
        popup.remove();
      });
    }

    function closePopup(event) {
      event.preventDefault();
      var popup = this.closest(".popup");
      popup.remove();
    }

    const priceRangeInput = document.getElementById('price-range');
    const LocInput = document.getElementById('locality');
    const priceOutput = document.getElementById('price-output');
    const LocOutput = document.getElementById('loc-output');

    priceRangeInput.addEventListener('input', updateFilters);
    LocInput.addEventListener('input', updateFilters);

    let selectedRestaurants = [];

    function toggleHeartImage(heartImage) {
      const restaurantId = heartImage.dataset.id;
      const imageUrl = heartImage.src;

      // Add or remove restaurant ID based on heart state
      if (imageUrl.includes('heart.png')) {
        selectedRestaurants.push(restaurantId);
        // console.log(`Added ID: ${restaurantId}`); // Output the added ID
      } else {
        const index = selectedRestaurants.indexOf(restaurantId);
        // console.log(`Removed ID: ${restaurantId2}`); // Output the removed ID
        if (index !== -1) {
          selectedRestaurants.splice(index, 1);
        }
      }

      // Toggle heart image
      heartImage.src = imageUrl.includes('empty-heart.png') ?
        '../static/images/heart.png' : '../static/images/empty-heart.png';
    }

    function updateFilters() {
      document.getElementById('selected-locality').textContent = LocInput.options[LocInput.selectedIndex].text;
      let priceSymbol = '';
      switch (parseInt(priceRangeInput.value)) {
        case 1:
          priceSymbol = 'N/A';
          break;
        case 2:
          priceSymbol = '$';
          break;
        case 3:
          priceSymbol = '$$';
          break;
        case 4:
          priceSymbol = '$$$';
          break;
        default:
          priceSymbol = 'NA';
          break;
      }
      priceOutput.textContent = priceSymbol;
      let locCity = '';
      const selectedOption = LocInput.value;
      switch (selectedOption) {
        case 'TX':
          locCity = 'TX';
          break;
        case 'NJ':
          locCity = 'NJ';
          break;
        case 'NY':
          locCity = 'NY';
          break;
        case 'WA':
          locCity = 'WA';
          break;
      }
      LocOutput.textContent = locCity;

    }
    function search() {
      sendFocus();
      filterText();
      sendFocus2();
      filterText2();
    }

    function answerBoxTemplate(title, titleDesc, rating, street_address, locality, trip_advisor_url, comments) {
      return `<div class='answer-box-item'>
                    <h3 class='episode-title'>${title}</h3>
                    <p class='episode-desc'>${titleDesc}</p>
                    <p class='episode-desc'>${street_address}</p>
                    <p><a href=${trip_advisor_url} target="_blank">
                      <img src="../static/images/chef.jpg" width="50" height="50">
                      </a></p>
                      <div class="heart-container">
                      <img src="../static/images/empty-heart.png" width=20px height=20px id="heart-image-2" data-id = "${title}" onclick="toggleHeartImage2(this)" />
                  </div>
                  <div class="button-container">
                    <button class="info-button" onclick="showInfo(event, '${title}', '${titleDesc}', '${rating}', '${locality}', '${comments}')">More Info</button>
        </div>
                </div>`;
    }
    function sendFocus() {
      document.getElementById("preferences_morn").focus();
    }

    function filterText() {
      document.getElementById("answer-box-1").innerHTML = "";

      const filterText = document.getElementById("preferences_morn").value;
      const priceRange = document.getElementById('price-range').value;
      const locationCity = document.getElementById('locality').value;

      // console.log(filterText)
      fetch("/episodes?" + new URLSearchParams({ title: filterText, price_range: priceRange, locality: locationCity }).toString())
        .then((response) => response.json())
        .then((data) => {
          if (data.length == 0) {
            document.getElementById("answer-box-1").innerHTML = "<p>No results found.</p>";
          }
          else {
            data.forEach(row => {
              if (LocOutput.textContent === 'NJ' && row.locality.split(',')[1].trim().split(' ')[0] === "NJ") {
                if (row.price_range === '$' && priceRange === '2') {
                  let tempDiv = document.createElement("div");
                  tempDiv.innerHTML = answerBoxTemplate(row.name, row.type, row.price_range, row.street_address, row.locality, row.trip_advisor_url, row.comments);
                  document.getElementById("answer-box-1").appendChild(tempDiv);
                  tempDiv.querySelector('.info-button').addEventListener('click', function (event) {
                    showInfo(event, row.name, row.type, row.price_range, row.locality, row.comments);
                  });

                } else if (row.price_range === '$$' && priceRange === '3') {
                  let tempDiv = document.createElement("div");
                  tempDiv.innerHTML = answerBoxTemplate(row.name, row.type, row.price_range, row.street_address, row.locality, row.trip_advisor_url, row.comments);
                  document.getElementById("answer-box-1").appendChild(tempDiv);
                  tempDiv.querySelector('.info-button').addEventListener('click', function (event) {
                    showInfo(event, row.name, row.type, row.price_range, row.locality, row.comments);
                  });
                } else if (row.price_range === '$$$' && priceRange === '4') {
                  let tempDiv = document.createElement("div");
                  tempDiv.innerHTML = answerBoxTemplate(row.name, row.type, row.price_range, row.street_address, row.locality, row.trip_advisor_url, row.comments);
                  document.getElementById("answer-box-1").appendChild(tempDiv);
                  tempDiv.querySelector('.info-button').addEventListener('click', function (event) {
                    showInfo(event, row.name, row.type, row.price_range, row.locality, row.comments);
                  });
                }
              } else if (LocOutput.textContent === 'NY' && row.locality.split(',')[1].trim().split(' ')[0] === "NY") {
                if (row.price_range === '$' && priceRange === '2') {
                  let tempDiv = document.createElement("div");
                  tempDiv.innerHTML = answerBoxTemplate(row.name, row.type, row.price_range, row.street_address, row.locality, row.trip_advisor_url, row.comments);
                  document.getElementById("answer-box-1").appendChild(tempDiv);
                  tempDiv.querySelector('.info-button').addEventListener('click', function (event) {
                    showInfo(event, row.name, row.type, row.price_range, row.locality, row.comments);
                  });
                } else if (row.price_range === '$$' && priceRange === '3') {
                  let tempDiv = document.createElement("div");
                  tempDiv.innerHTML = answerBoxTemplate(row.name, row.type, row.price_range, row.street_address, row.locality, row.trip_advisor_url, row.comments);
                  document.getElementById("answer-box-1").appendChild(tempDiv);
                  tempDiv.querySelector('.info-button').addEventListener('click', function (event) {
                    showInfo(event, row.name, row.type, row.price_range, row.locality, row.comments);
                  });
                } else if (row.price_range === '$$$' && priceRange === '4') {
                  let tempDiv = document.createElement("div");
                  tempDiv.innerHTML = answerBoxTemplate(row.name, row.type, row.price_range, row.street_address, row.locality, row.trip_advisor_url, row.comments);
                  document.getElementById("answer-box-1").appendChild(tempDiv);
                  tempDiv.querySelector('.info-button').addEventListener('click', function (event) {
                    showInfo(event, row.name, row.type, row.price_range, row.locality, row.comments);
                  });

                }
              } else if (LocOutput.textContent === 'WA' && row.locality.split(',')[1].trim().split(' ')[0] === "WA") {
                if (row.price_range === '$' && priceRange === '2') {
                  let tempDiv = document.createElement("div");
                  tempDiv.innerHTML = answerBoxTemplate(row.name, row.type, row.price_range, row.street_address, row.locality, row.trip_advisor_url, row.comments);
                  document.getElementById("answer-box-1").appendChild(tempDiv);
                  tempDiv.querySelector('.info-button').addEventListener('click', function (event) {
                    showInfo(event, row.name, row.type, row.price_range, row.locality, row.comments);
                  });

                } else if (row.price_range === '$$' && priceRange === '3') {
                  let tempDiv = document.createElement("div");
                  tempDiv.innerHTML = answerBoxTemplate(row.name, row.type, row.price_range, row.street_address, row.locality, row.trip_advisor_url, row.comments);
                  document.getElementById("answer-box-1").appendChild(tempDiv);
                  tempDiv.querySelector('.info-button').addEventListener('click', function (event) {
                    showInfo(event, row.name, row.type, row.price_range, row.locality, row.comments);
                  });

                } else if (row.price_range === '$$$' && priceRange === '4') {
                  let tempDiv = document.createElement("div");
                  tempDiv.innerHTML = answerBoxTemplate(row.name, row.type, row.price_range, row.street_address, row.locality, row.trip_advisor_url, row.comments);
                  document.getElementById("answer-box-1").appendChild(tempDiv);
                  tempDiv.querySelector('.info-button').addEventListener('click', function (event) {
                    showInfo(event, row.name, row.type, row.price_range, row.locality, row.comments);
                  });

                }
              } else if (LocOutput.textContent === 'TX' && row.locality.split(',')[1].trim().split(' ')[0] === "TX") {
                if (row.price_range === '$' && priceRange === '2') {
                  let tempDiv = document.createElement("div");
                  tempDiv.innerHTML = answerBoxTemplate(row.name, row.type, row.price_range, row.street_address, row.locality, row.trip_advisor_url, row.comments);
                  document.getElementById("answer-box-1").appendChild(tempDiv);
                  tempDiv.querySelector('.info-button').addEventListener('click', function (event) {
                    showInfo(event, row.name, row.type, row.price_range, row.locality, row.comments);
                  });

                } else if (row.price_range === '$$' && priceRange === '3') {
                  let tempDiv = document.createElement("div");
                  tempDiv.innerHTML = answerBoxTemplate(row.name, row.type, row.price_range, row.street_address, row.locality, row.trip_advisor_url, row.comments);
                  document.getElementById("answer-box-1").appendChild(tempDiv);
                  tempDiv.querySelector('.info-button').addEventListener('click', function (event) {
                    showInfo(event, row.name, row.type, row.price_range, row.locality, row.comments);
                  });

                } else if (row.price_range === '$$$' && priceRange === '4') {
                  let tempDiv = document.createElement("div");
                  tempDiv.innerHTML = answerBoxTemplate(row.name, row.type, row.price_range, row.street_address, row.locality, row.trip_advisor_url, row.comments);
                  document.getElementById("answer-box-1").appendChild(tempDiv);
                  tempDiv.querySelector('.info-button').addEventListener('click', function (event) {
                    showInfo(event, row.name, row.type, row.price_range, row.locality, row.comments);
                  });

                }
              }
            });
          }
        });
    }

    let selectedRestaurants2 = [];

    function toggleHeartImage2(heartImage) {
      const restaurantId2 = heartImage.dataset.id2;
      const imageUrl2 = heartImage.src;
      // Add or remove restaurant ID based on heart state
      if (imageUrl2.includes('heart.png')) {
        selectedRestaurants2.push(restaurantId2);
        // console.log(`Added ID: ${restaurantId}`); // Output the added ID
      } else {
        const index2 = selectedRestaurants2.indexOf(restaurantId2);
        if (index2 !== -1) {
          selectedRestaurants2.splice(index2, 1);
          // console.log(`Removed ID: ${restaurantId2}`); // Output the removed ID
        }
      }
      heartImage.src = imageUrl2.includes('empty-heart.png') ?
        '../static/images/heart.png' : '../static/images/empty-heart.png';
    }

    function answerBoxTemplate2(title, titleDesc, rating, street_address, locality, trip_advisor_url, comments) {
      return `<div class='answer-box-item'>
                    <h3 class='episode-title'>${title}</h3>
                    <p class='episode-desc'>${titleDesc}</p>
                    <p class='episode-desc'>${street_address}</p>
                    <p><a href=${trip_advisor_url} target="_blank">
                      <img src="../static/images/chef.jpg" width="50" height="50">
                      </a></p>
                    <div class="heart-container">
                      <img src="../static/images/empty-heart.png" width=20px height=20px id="heart-image-2" data-id = "${title}" onclick="toggleHeartImage2(this)" />
                  </div>
                  <div class="button-container">
                    <button class="info-button" onclick="showInfo(event, '${title}', '${titleDesc}', '${rating}', '${locality}', '${comments}')">More Info</button>
        </div>
                  
                </div>`;
    }

    function sendFocus2() {
      document.getElementById("preferences_even").focus();
    }


    function filterText2() {
      document.getElementById("answer-box-2").innerHTML = "";

      const filterText2 = document.getElementById("preferences_even").value;
      const priceRange2 = document.getElementById('price-range').value;
      const locationCity2 = document.getElementById('locality').value;
      // console.log(filterText2)
      fetch("/episodes?" + new URLSearchParams({ title: filterText2, price_range: priceRange2, locality: locationCity2 }).toString())
        .then((response) => response.json())
        .then((data) => {
          data.forEach(row => {
            if (LocOutput.textContent === 'NJ' && row.locality.split(',')[1].trim().split(' ')[0] === "NJ") {
              if (row.price_range === '$' && priceRange2 === '2') {
                let tempDiv = document.createElement("div");
                tempDiv.innerHTML = answerBoxTemplate2(row.name, row.type, row.price_range, row.street_address, row.locality, row.trip_advisor_url, row.comments);
                document.getElementById("answer-box-2").appendChild(tempDiv);
                tempDiv.querySelector('.info-button').addEventListener('click', function (event) {
                  showInfo(event, row.name, row.type, row.price_range, row.locality, row.comments);
                });
              } else if (row.price_range === '$$' && priceRange2 === '3') {
                let tempDiv = document.createElement("div");
                tempDiv.innerHTML = answerBoxTemplate2(row.name, row.type, row.price_range, row.street_address, row.locality, row.trip_advisor_url, row.comments);
                document.getElementById("answer-box-2").appendChild(tempDiv);
                tempDiv.querySelector('.info-button').addEventListener('click', function (event) {
                  showInfo(event, row.name, row.type, row.price_range, row.locality, row.comments);
                });
              } else if (row.price_range === '$$$' && priceRange2 === '4') {
                let tempDiv = document.createElement("div");
                tempDiv.innerHTML = answerBoxTemplate2(row.name, row.type, row.price_range, row.street_address, row.locality, row.trip_advisor_url, row.comments);
                document.getElementById("answer-box-2").appendChild(tempDiv);
                tempDiv.querySelector('.info-button').addEventListener('click', function (event) {
                  showInfo(event, row.name, row.type, row.price_range, row.locality, row.comments);
                });
              }
            } else if (LocOutput.textContent === 'NY' && row.locality.split(',')[1].trim().split(' ')[0] === "NY") {
              if (row.price_range === '$' && priceRange2 === '2') {
                let tempDiv = document.createElement("div");
                tempDiv.innerHTML = answerBoxTemplate2(row.name, row.type, row.price_range, row.street_address, row.locality, row.trip_advisor_url, row.comments);
                document.getElementById("answer-box-2").appendChild(tempDiv);
                tempDiv.querySelector('.info-button').addEventListener('click', function (event) {
                  showInfo(event, row.name, row.type, row.price_range, row.locality, row.comments);
                });
              } else if (row.price_range === '$$' && priceRange2 === '3') {
                let tempDiv = document.createElement("div");
                tempDiv.innerHTML = answerBoxTemplate2(row.name, row.type, row.price_range, row.street_address, row.locality, row.trip_advisor_url, row.comments);
                document.getElementById("answer-box-2").appendChild(tempDiv);
                tempDiv.querySelector('.info-button').addEventListener('click', function (event) {
                  showInfo(event, row.name, row.type, row.price_range, row.locality, row.comments);
                });
              } else if (row.price_range === '$$$' && priceRange2 === '4') {
                let tempDiv = document.createElement("div");
                tempDiv.innerHTML = answerBoxTemplate2(row.name, row.type, row.price_range, row.street_address, row.locality, row.trip_advisor_url, row.comments);
                document.getElementById("answer-box-2").appendChild(tempDiv);
                tempDiv.querySelector('.info-button').addEventListener('click', function (event) {
                  showInfo(event, row.name, row.type, row.price_range, row.locality, row.comments);
                });
              }
            } else if (LocOutput.textContent === 'WA' && row.locality.split(',')[1].trim().split(' ')[0] === "WA") {
              if (row.price_range === '$' && priceRange2 === '2') {
                let tempDiv = document.createElement("div");
                tempDiv.innerHTML = answerBoxTemplate2(row.name, row.type, row.price_range, row.street_address, row.locality, row.trip_advisor_url, row.comments);
                document.getElementById("answer-box-2").appendChild(tempDiv);
                tempDiv.querySelector('.info-button').addEventListener('click', function (event) {
                  showInfo(event, row.name, row.type, row.price_range, row.locality, row.comments);
                });
              } else if (row.price_range === '$$' && priceRange2 === '3') {
                let tempDiv = document.createElement("div");
                tempDiv.innerHTML = answerBoxTemplate2(row.name, row.type, row.price_range, row.street_address, row.locality, row.trip_advisor_url, row.comments);
                document.getElementById("answer-box-2").appendChild(tempDiv);
                tempDiv.querySelector('.info-button').addEventListener('click', function (event) {
                  showInfo(event, row.name, row.type, row.price_range, row.locality, row.comments);
                });
              } else if (row.price_range === '$$$' && priceRange2 === '4') {
                let tempDiv = document.createElement("div");
                tempDiv.innerHTML = answerBoxTemplate2(row.name, row.type, row.price_range, row.street_address, row.locality, row.trip_advisor_url, row.comments);
                document.getElementById("answer-box-2").appendChild(tempDiv);
                tempDiv.querySelector('.info-button').addEventListener('click', function (event) {
                  showInfo(event, row.name, row.type, row.price_range, row.locality, row.comments);
                });
              }
            } else if (LocOutput.textContent === 'TX' && row.locality.split(',')[1].trim().split(' ')[0] === "TX") {
              if (row.price_range === '$' && priceRange2 === '2') {
                let tempDiv = document.createElement("div");
                tempDiv.innerHTML = answerBoxTemplate2(row.name, row.type, row.price_range, row.street_address, row.locality, row.trip_advisor_url, row.comments);
                document.getElementById("answer-box-2").appendChild(tempDiv);
                tempDiv.querySelector('.info-button').addEventListener('click', function (event) {
                  showInfo(event, row.name, row.type, row.price_range, row.locality, row.comments);
                });
              } else if (row.price_range === '$$' && priceRange2 === '3') {
                let tempDiv = document.createElement("div");
                tempDiv.innerHTML = answerBoxTemplate2(row.name, row.type, row.price_range, row.street_address, row.locality, row.trip_advisor_url, row.comments);
                document.getElementById("answer-box-2").appendChild(tempDiv);
                tempDiv.querySelector('.info-button').addEventListener('click', function (event) {
                  showInfo(event, row.name, row.type, row.price_range, row.locality, row.comments);
                });
              } else if (row.price_range === '$$$' && priceRange2 === '4') {
                let tempDiv = document.createElement("div");
                tempDiv.innerHTML = answerBoxTemplate2(row.name, row.type, row.price_range, row.street_address, row.locality, row.trip_advisor_url, row.comments);
                document.getElementById("answer-box-2").appendChild(tempDiv);
                tempDiv.querySelector('.info-button').addEventListener('click', function (event) {
                  showInfo(event, row.name, row.type, row.price_range, row.locality, row.comments);
                });
              }
            }
          });
        });
    }

    function updateButtonClick() {
      document.getElementById('answer-box-1').classList.toggle('update-button');
      const title = document.getElementById('preferences_morn').value;
      const priceRange = document.getElementById('price-range').value;
      document.getElementById('answer-box-2').classList.toggle('update-button');
      const title2 = document.getElementById('preferences_even').value;
      const priceRange2 = document.getElementById('price-range').value;
      const morningRestaurantnames = JSON.stringify(selectedRestaurants);
      const eveningRestaurantnames = JSON.stringify(selectedRestaurants2);
      fetch("/episodes?" + new URLSearchParams({ title: title, price_range: priceRange, morning_restaurant_names: morningRestaurantnames, evening_restaurant_names: eveningRestaurantnames }).toString())
        .then(response => response.json())
        .then(data => {
          document.getElementById("answer-box-1").innerHTML = "";
          document.getElementById("answer-box-2").innerHTML = "";
          const half = Math.ceil(data.length / 2);
          const morningData = data.splice(0, half);
          const eveningData = data.splice(-half);
          morningData.forEach(row => {
            let tempDiv1 = document.createElement("div");
            tempDiv1.innerHTML = answerBoxTemplate(row.name, row.type, row.price_range, row.street_address, row.locality, row.trip_advisor_url, row.comments);
            document.getElementById("answer-box-1").appendChild(tempDiv1);
          });
          eveningData.forEach(row => {
            let tempDiv2 = document.createElement("div");
            tempDiv2.innerHTML = answerBoxTemplate2(row.name, row.type, row.price_range, row.street_address, row.locality, row.trip_advisor_url, row.comments);
            document.getElementById("answer-box-2").appendChild(tempDiv2);
          });
        })
        .catch((error) => {
          console.error('Error:', error);
        });
    }
  </script>
</body>